<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244468519924-dkps0um82jtavfekett2cgaeclg9h54m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244468519924-dkps0um82jtavfekett2cgaeclg9h54m</string>
	<key>API_KEY</key>
	<string>AIzaSyCh4Q1bC1NpOReHrwBO9SX2KHDGSnQYOwo</string>
	<key>GCM_SENDER_ID</key>
	<string>244468519924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lefthandedapps.MessengerClone</string>
	<key>PROJECT_ID</key>
	<string>messenger-92be7</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-92be7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244468519924:ios:7ac44908e3214a593e1fa1</string>
</dict>
</plist>